/*Corpo principal da página*/

:root {
    --backColor: #1B1464;
}

body {
    background-color: var(--backColor);
    height: 320vh;
    max-width: 100%;
    margin: 0;
}

body > div {
    margin: 0;
    background-color: var(--backColor);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100%;
    position: relative;
}

main {
    margin-left: 32px;
}


/*Font Faces*/


@font-face {
    font-family: Titles;
    src: url(fonts/Prociono-Regular.ttf);
}

@font-face {
    font-family: Roboto-Serif-Bold;
    src: url(fonts/RobotoSerif_28pt-Bold.ttf);
}

@font-face {
    font-family: Roboto-Serif;
    src: url(fonts/RobotoSerif_28pt-Medium.ttf);
}


/*General Text Settings*/


p, h1, h2, h3, h4 {
    color: white;
}

h1 {
    width: 100%;
    text-align: center;
    font-family: Titles, 'Times New Roman', Times, serif;
    font-size: 86px;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 12px;
    font-weight: normal;
}

h2 {
    width: 100%;
    text-align: center;
    translate: 0 -32px;
    font-size: 46px;
}

h3 {
    margin-bottom: 12px;
}

h4 {
    font-family: Roboto-Serif-Bold, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
}


p {
    font-family: Roboto-Serif, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
}

a {
    color: #1F35FF;
    transition: all 800ms;
}

a:hover {
    color: #1f6dff;
}

#copyright {
    color: white;
    text-decoration: none;
    cursor: default;
}


/*Top Menu Settings*/


#Menupremium{
    width: 1350px;
    height: 200px;
    border-radius: 0px 0px 10px 10px;
    background-color: #725ACF ;
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    transition: all 600ms ease-in-out;
    z-index: 200;
}

#Headshotarow{
    position:absolute;
    bottom: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
}

#Headshotarow img{
    transition: rotate 600ms ease-in-out;
    transform: scale(0.7);
}

.omagaAnimatio {
    rotate: 180deg;
}

.menuOpen {
    translate: 0 -150px;
}

.square{
    width: 300px;
    height: 110.95px;
    background-color: #9980FA;
    position: relative;
    top: 38px;
    border-radius: 10px;
    text-decoration: none;
    display: grid;
    place-items: center;
}

.square>p{
    font-size: 60px;
    margin: 0;
}

#maincharacter{margin-top: 150px;}


/*General Article Settings*/


article {
    display: grid;
}

article h3 {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
    font-size: 32px;
}

article p {
    text-align: start;
    width: 1012px;
}


/*Image settings*/


.imgContainer {
    display: flex;
    justify-content: space-between;
}

.imgContainer#compareCode {
    width: 650px;
}

.imgContainer#compareCode div * {
    width: 300px;
    font-size: 16px;
}


/*Footer Settings*/


footer {
    margin: 0;
    width: 100%;
    height: 80px;
    background-color: #725ACF;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

footer p {
    margin-top: 8px;
    margin-left: 64px;
    margin-right: 64px;
    font-size:24px;
}

footer p:last-child {
    align-self: flex-end;
    margin-top: -10px;
}