:root {
    --backColor: #1B1464;
}

/*Corpo principal da página*/

body > div {
    margin: 0;
    background-color: var(--backColor);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: fit-content;
    position: relative;
}

main{
    max-width: 1200px;
}
#maincharacter {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
#plsfunciona{
    align-self: flex-end;
    margin-right: 250px;
    width: 750px;
}


@font-face {
    font-family: Titles;
    src: url(fonts/Prociono-Regular.ttf);
}

@font-face {
    font-family: Roboto-Serif-Bold;
    src: url(fonts/RobotoSerif_28pt-Bold.ttf);
}

@font-face {
    font-family: Roboto-Serif;
    src: url(fonts/RobotoSerif_28pt-Medium.ttf);
}



/*General Article Settings*/


header {
    width: 100%;
    margin-bottom: 12px;
    margin-top: 12px;
}


article {
    display: grid;
}

article section {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

article h3 {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
    font-size: 32px;
}

article h4 {
    width: 100%;
}

article p {
    text-align: start;
    word-wrap: break-word;
}


/*Image settings*/


.imgContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.imgContainer#compareCode {
    max-width: 650px;
    width: 100%;
}

.imgContainer#compareCode div * {
    width: 300px;
    font-size: 16px;
}

#SobreNos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 210vh;
    margin-top: 64px;
    background-color: #3228a7;
    margin-bottom: -100px;
    margin-left: -50px;

}

#SobreNos section {
    width: 40%;
}

#SobreNos p {
    max-width: 600px;
}

#SobreNos > section:first-of-type {
    width: 100%;
    margin-top:-40px;
    display: grid;
    place-items: center;
}

#SobreNos >section:first-of-type * {
    text-align: center;
}

#SobreNos >section:nth-of-type(2) * {
    text-align: end;
}

#SobreNos > h2 {
    margin-bottom: 15px;
}

#SobreNos h3 {
    font-size: x-large;
}